.section {
  span{
    @apply flex items-center  min-h-[63px];
  }
   div div:nth-child(2){
    @apply flex items-center justify-center font-[600] bg-white mt-10 h-14 text-black font-RobotoMono;
  }


  li{
    div{
      font-family: 'Inter', sans-serif;
      @apply text-neutral-600 xl:text-[20px] text-[18px] mr-10;
    }
    @apply flex flex-col xl:text-[36px] h-fit text-[25px] h-16  justify-start items-start border-t border-zinc-700
           cursor-pointer transition-[height] ease-in-out duration-200
    ;
  }
  li:hover{
    @apply h-[200px] justify-start ;
  }

  li:hover section{
    @apply block w-full h-full  p-5;
  }

  section {
    @apply hidden;
  }
@apply xl:w-[1000px] w-[80%] mt-40;
}

