@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



.section1 {
  h1 p{
    @apply xl:text-[96px] sm:text-[60px]   font-[600] text-[48px]
           font-Roboto xl:leading-[112px] md:leading-[60px] sm:leading-[55px] leading-[48px];
  }

  h1 p:nth-child(2){
    @apply xl:pl-[200px] md:pl-[130px] sm:pl-[100px] pl-[50px];
  }
  h1 p:nth-child(3){
    @apply xl:pl-[400px] md:pl-[250px] sm:pl-[150px] pl-[90px];
  }

  h1{
    @apply xl:mb-0 mb-4 w-full;
  }
  div p{
    @apply xl:text-base text-xs ;
  }
  section{
    @apply xl:w-[1000px] xl:max-w-full max-w-[700px] mt-20 w-[90%] xl:block flex flex-col items-center;
  }
  @apply  h-full flex flex-col items-center;
}

.section2 {
  h2 {
    @apply text-[40px] leading-[40px] xl:text-[50px]  xl:leading-[59px] font-[600] ;
  }


  div{
    @apply mt-4;
  }

  p{
    @apply font-RobotoMono xl:text-[20px] text-base;
  }

  section {
    @apply xl:w-[1000px] w-[80%]  font-Roboto;
  }

  span {
    @apply  w-96 block;
  }

  @apply text-white h-screen flex flex-col justify-center items-center;
}

.section3 {
  div:nth-child(1){
    @apply max-w-[450px];
  }

  span{
    @apply flex justify-between w-[300px] xl:w-auto;
  }

  section {
    @apply xl:w-[1000px] w-[80%];
  }

  p{
    @apply font-RobotoMono xl:text-[20px] text-base;
  }

  h2 {
    @apply xl:leading-[127px] leading-[80px] font-[600] xl:text-[108px]  text-[70px];
  }

  @apply text-white h-screen flex flex-col justify-center items-center font-Roboto;
}

.layers {
  div{
    @apply border xl:h-[537px] sm:h-[700px] h-[850px]  absolute xl:w-[1000px] w-[95%] z-50 m-auto bg-black;
  }

  div:nth-child(1){
    p:nth-child(1){
      font-family: 'Inter', sans-serif;

    }
    @apply z-10 bg-black pt-6 pl-10 xl:pr-14 pr-14 text-sm text-xs sm:text-sm md:text-base;
  }

  ul{
    @apply list-disc;
    li{
      @apply mt-4 list-disc font-RobotoMono;
    }
  }

  div:nth-child(2){
    @apply ml-2 mt-2 -z-[10];
  }

  div:nth-child(3){
    @apply ml-4 mt-4 -z-20 ;
  }

  @apply h-screen flex items-center justify-center;
}

.section4 {
  nav{
    @apply border-t border-zinc-700 flex items-center w-[85%] h-14 font-RobotoMono;

    ul{
      @apply md:flex text-sm  grid grid-cols-3 mt-6 md:mt-0 xl:px-20 w-full justify-between;
    }
  }

   h2 {
     @apply font-[600] xl:text-[54px] xl:leading-[63px] text-[40px] xl:mb-14 mb-10;
   }
  li:nth-child(3){
    @apply border-b border-zinc-700;
  }


  @apply h-screen text-white font-Roboto flex flex-col
          items-center justify-between  text-white
  ;
}

.section5{
  img{
   @apply xl:w-[40px] xl:h-[40px] w-[20px] h-[20px] xl:mr-4 mr-2;
  }


  div div{
    @apply flex items-center xl:text-[24px] md:text-[20px];
  }

  li {
    @apply flex items-center lg:pl-36 justify-start md:text-[22px];
  }

  li a {
    @apply flex items-center justify-center;
  }

  // last footer
  div div div {
    @apply xl:text-[20px] text-[15px];
  }

  // terms of use ...
  div div div div{
    @apply text-[14px] xl:w-40 w-fit xl:mr-0 mr-6 text-xs;
  }

  @apply  h-[60vh]  justify-between text-white font-Roboto flex flex-col items-start ;
}